// Colors
$color-white: #ffffff;
$color-black: #000000;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-normal: $fw-regular; // alias
$fw-book: $fw-regular;   // alias
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Media Query Sizes
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// Fonts
$ff-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;


